# Merge, join, and concatenate
pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

# concate
Like its sibling function on ndarrays, numpy.concatenate, pandas.concat takes a list or dict of homogeneously-typed objects and concatenates them with some configurable handling of “what to do with the other axes”:

pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)

#### objs :
> a sequence or mapping of Series, DataFrame, or Panel objects. If a dict is passed, the sorted keys will be used as the keys argument, unless it is passed, in which case the values will be selected (see below). Any None objects will be dropped silently unless they are all None in which case a ValueError will be raised.

#### axis :
> {0, 1, ...}, default 0. The axis to concatenate along.

#### join :
>{‘inner’, ‘outer’}, default ‘outer’. How to handle indexes on other axis(es). Outer for union and inner for intersection.

#### ignore_index :
>boolean, default False. If True, do not use the index values on the concatenation axis. The resulting axis will be labeled 0, ..., n - 1. This is useful if you are concatenating objects where the concatenation axis does not have meaningful indexing information. Note the index values on the other axes are still respected in the join.

#### join_axes :
>list of Index objects. Specific indexes to use for the other n - 1 axes instead of performing inner/outer set logic.

#### keys : 
>sequence, default None. Construct hierarchical index using the passed keys as the outermost level. If multiple levels passed, should contain tuples.

#### levels :
>list of sequences, default None. Specific levels (unique values) to use for constructing a MultiIndex. Otherwise they will be inferred from the keys.

#### names :
>list, default None. Names for the levels in the resulting hierarchical index.

#### verify_integrity :
>boolean, default False. Check whether the new concatenated axis contains duplicates. This can be very expensive relative to the actual data concatenation.

#### copy :
>boolean, default True. If False, do not copy data unnecessarily.

In [1]:
import pandas as pd
from pandas import DataFrame
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "http://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_basic.png")

In [2]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                  index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                index=[4, 5, 6, 7])
 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                index=[8, 9, 10, 11])

# print(df1) 
# print(df2)
# print(df3)

frames = [df1, df2, df3]
#frames
result = pd.concat(frames)
# DataFrame(frames), 
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [3]:
result = pd.concat(frames, keys=['x', 'y', 'z'])
result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

As you can see (if you’ve read the rest of the documentation), the resulting object’s index has a hierarchical index. This means that we can now do stuff like select out each chunk by key:

In [4]:
result.ix['y']

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

# Note
 It is worth noting however, that concat (and therefore append) makes a full copy of the data, and that constantly reusing this function can create a significant performance hit. If you need to use the operation over several datasets, use a list comprehension.

In [5]:
#frames = [ process_your_file(f) for f in files ]
#result = pd.concat(frames)

# Set logic on the other axes
When gluing together multiple DataFrames (or Panels or...), for example, you have a choice of how to handle the other axes (other than the one being concatenated). This can be done in three ways:

#### Take the (sorted) union of them all, join='outer'. 
>This is the default option as it results in zero information loss.

#### Take the intersection, join='inner'.
#### Use a specific index (in the case of DataFrame) or indexes (in the case of Panel or future higher dimensional objects), i.e. the join_axes argument

Here is a example of each of these methods. First, the default join='outer' behavior:

In [6]:

Image(url= "http://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_axis1.png")

Note that the row indexes have been 
#### unioned and sorted.
Here is the same thing with join='inner'.

In [7]:
Image(url= "http://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_axis1.png")

In [8]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                  index=[0, 1, 2, 3])

df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                  'D': ['D2', 'D3', 'D6', 'D7'],
                  'F': ['F2', 'F3', 'F6', 'F7']},
                index=[2, 3, 6, 7])
 
print(df1)
print(df4)
result1 = pd.concat([df1, df4], axis=1)
result2 = pd.concat([df1, df4], axis=0)

result1
#result2

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [9]:
Image(url= "http://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_axis1_inner.png")

In [10]:
result3 = pd.concat([df1, df4], axis=1, join='inner')
result3

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

# exact index
suppose we just wanted to reuse the exact index from the original DataFrame:

In [11]:
Image(url= "http://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_axis1_join_axes.png")

In [12]:
result = pd.concat([df1, df4], axis=1, join_axes=[df1.index])
result

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

# Concatenating using append
A useful shortcut to concat are the append instance methods on Series and DataFrame. These methods actually predated concat. They concatenate along axis=0, namely the index:

In [13]:
Image(url= "http://pandas.pydata.org/pandas-docs/stable/_images/merging_append1.png")

In [14]:
result = df1.append(df2)
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In the case of DataFrame, the indexes must be disjoint but the columns do not need to be:

In [15]:
Image(url= "http://pandas.pydata.org/pandas-docs/stable/_images/merging_append2.png")

In [16]:
result = df1.append(df4)
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [17]:
Image(url= "http://pandas.pydata.org/pandas-docs/stable/_images/merging_append3.png")

In [18]:
result = df1.append([df2, df3])
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

# Ignoring indexes on the concatenation axis

For DataFrames which don’t have a meaningful index, you may wish to append them and ignore the fact that they may have overlapping indexes:

To do this, use the ignore_index argument:

In [19]:
Image(url= "http://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_ignore_index.png")

In [20]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                  index=[0, 1, 2, 3])

df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                  'D': ['D2', 'D3', 'D6', 'D7'],
                  'F': ['F2', 'F3', 'F6', 'F7']},
                index=[2, 3, 6, 7])

result1 = pd.concat([df1, df4], ignore_index=True)
result2 = pd.concat([df1, df4])
#result1
result2

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [21]:
result = df1.append(df4, ignore_index=True)
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

# Concatenating with mixed ndims
You can concatenate a mix of Series and DataFrames. The Series will be transformed to DataFrames with the column name as the name of the Series.

In [22]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_mixed_ndim.png")

In [23]:
s1 = pd.Series(['X0', 'X1', 'X2'], name='X')
result1 = pd.concat([df1, s1], axis=0)
result2 = pd.concat([df1, s1], axis=1)

#result1
result2

    A   B   C   D    X
0  A0  B0  C0  D0   X0
1  A1  B1  C1  D1   X1
2  A2  B2  C2  D2   X2
3  A3  B3  C3  D3  NaN

# More concatenating with group keys
A fairly common use of the keys argument is to override the column names when creating a new DataFrame based on existing Series. Notice how the default behaviour consists on letting the resulting DataFrame inherits the parent Series’ name, when these existed.

In [24]:
s3 = pd.Series(["00", '01', '02', '03'], name='foo')
s4 = pd.Series(['10', '11', '12', '13'])
s5 = pd.Series(['20', '21', '22'])

#pd.concat([s3, s4, s5], axis=0)
pd.concat([s3, s4, s5], axis=1)

  foo   0    1
0  00  10   20
1  01  11   21
2  02  12   22
3  03  13  NaN

In [25]:
pd.concat([s3, s4, s5], axis=1, keys=['red','blue','yellow'])

  red blue yellow
0  00   10     20
1  01   11     21
2  02   12     22
3  03   13    NaN

In [26]:
pd.concat([s3, s4, s5], axis=0, keys=['red','blue','yellow'])

red     0    00
        1    01
        2    02
        3    03
blue    0    10
        1    11
        2    12
        3    13
yellow  0    20
        1    21
        2    22
dtype: object

In [27]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                  index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                index=[4, 5, 6, 7])
 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                index=[8, 9, 10, 11])


frames = [df1, df2, df3]
#pd.concat(frames, keys=['x', 'y', 'z'])
pd.concat(frames, keys=['x', 'y', 'z'], axis=1)

      x                   y                   z
      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [28]:
pieces = {'x': df1, 'y': df2, 'z': df3}

pd.concat(pieces)

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [29]:
pd.concat(pieces, keys=['z', 'y'])

        A    B    C    D
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7

# MultiIndex
The MultiIndex created has levels that are constructed from the passed keys and the index of the DataFrame pieces:

In [30]:
result=pd.concat(pieces, keys=['z', 'y'])
result.index.levels

FrozenList([['z', 'y'], [4, 5, 6, 7, 8, 9, 10, 11]])

# GroupBy
this is actually necessary for implementing things like GroupBy where the order of a categorical variable is meaningful:

In [31]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_dict_keys_names.png")

In [32]:
pieces = {'x': df1, 'y': df2, 'z': df3}
pd.concat( pieces, keys=['x', 'y', 'z'],
                    levels=[['z', 'y', 'x', 'w']],
                    names=['group_key'])

                A    B    C    D
group_key
x         0    A0   B0   C0   D0
          1    A1   B1   C1   D1
          2    A2   B2   C2   D2
          3    A3   B3   C3   D3
y         4    A4   B4   C4   D4
          5    A5   B5   C5   D5
          6    A6   B6   C6   D6
          7    A7   B7   C7   D7
z         8    A8   B8   C8   D8
          9    A9   B9   C9   D9
          10  A10  B10  C10  D10
          11  A11  B11  C11  D11

In [33]:
result.index.levels

FrozenList([['z', 'y'], [4, 5, 6, 7, 8, 9, 10, 11]])

# Appending rows to a DataFrame
While not especially efficient (since a new object must be created), you can append a single row to a DataFrame by passing a Series or dict to append, which returns a new DataFrame as above. You should use ignore_index with this method to instruct DataFrame to discard its index. If you wish to preserve the index, you should construct an appropriately-indexed DataFrame and append or concatenate those objects.

In [34]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_append_series_as_row.png")

In [35]:
s2 = pd.Series(['X0', 'X1', 'X2', 'X3'], index=['A', 'B', 'C', 'D'])
df1.append(s2, ignore_index=True)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  X0  X1  X2  X3

In [36]:
s2 = pd.Series(['X0', 'X1', 'X2', 'X3'])#, index=['A', 'B', 'C', 'D'])
df1.append(s2, ignore_index=True)

     A    B    C    D    0    1    2    3
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   X0   X1   X2   X3

# Database-style DataFrame joining/merging

pandas has full-featured, high performance in-memory join operations idiomatically very similar to relational databases like SQL. These methods perform significantly better (in some cases well over an order of magnitude better) than other open source implementations (like base::merge.data.frame in R). The reason for this is careful algorithmic design and internal layout of the data in DataFrame.

See the cookbook for some advanced strategies.

Users who are familiar with SQL but new to pandas might be interested in a comparison with SQL.

pandas provides a single function, merge, as the entry point for all standard database join operations between DataFrame objects:

pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False)

#### left: 
>A DataFrame object

#### right:
>Another DataFrame object

#### on:
>Columns (names) to join on. Must be found in both the left and right DataFrame objects. If not passed and left_index and right_index are False, the intersection of the columns in the DataFrames will be inferred to be the join keys

#### left_on:
>Columns from the left DataFrame to use as keys. Can either be column names or arrays with length equal to the length of the DataFrame

#### right_on:
>Columns from the right DataFrame to use as keys. Can either be column names or arrays with length equal to the length of the DataFrame

#### left_index:
>If True, use the index (row labels) from the left DataFrame as its join key(s). In the case of a DataFrame with a MultiIndex (hierarchical), the number of levels must match the number of join keys from the right DataFrame

#### right_index:
>Same usage as left_index for the right DataFrame

#### how:
>One of 'left', 'right', 'outer', 'inner'. Defaults to inner. See below for more detailed description of each method

#### sort:
>Sort the result DataFrame by the join keys in lexicographical order. Defaults to True, setting to False will improve performance substantially in many cases

#### suffixes:
>A tuple of string suffixes to apply to overlapping columns. Defaults to ('_x', '_y').

#### copy:
>Always copy data (default True) from the passed DataFrame objects, even when reindexing is not necessary. Cannot be avoided in many cases but may improve performance / memory usage. The cases where copying can be avoided are somewhat pathological but this option is provided nonetheless.

#### indicator:
>Add a column to the output DataFrame called _merge with information on the source of each row. _merge is Categorical-type and takes on a value of left_only for observations whose merge key only appears in 'left' DataFrame, right_only for observations whose merge key only appears in 'right' DataFrame, and both if the observation’s merge key is found in both


The return type will be the same as left. If left is a DataFrame and right is a subclass of DataFrame, the return type will still be DataFrame.

merge is a function in the pandas namespace, and it is also available as a DataFrame instance method, with the calling DataFrame being implicitly considered the left object in the join.

The related DataFrame.join method, uses merge internally for the index-on-index (by default) and column(s)-on-index join. If you are joining on index only, you may wish to use DataFrame.join to save yourself some typing.


#  Brief primer on merge methods 
Experienced users of relational databases like SQL will be familiar with the terminology used to describe join operations between two SQL-table like structures (DataFrame objects). There are several cases to consider which are very important to understand:

#### one-to-one joins:
>for example when joining two DataFrame objects on their indexes (which must contain unique values)

#### many-to-one joins: 
>for example when joining an index (unique) to one or more columns in a DataFrame

#### many-to-many joins:
>joining columns on columns.

It is worth spending some time understanding the result of the many-to-many join case. In SQL / standard relational algebra, if a key combination appears more than once in both tables, the resulting table will have the Cartesian product of the associated data. Here is a very basic example with one unique key combination:

In [37]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_merge_on_key.png")

In [38]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})
 

pd.merge(left, right, on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [39]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_merge_on_key_multiple.png")

In [40]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
 

right = pd.DataFrame({  'key1': ['K0', 'K1', 'K1', 'K2'],
                        'key2': ['K0', 'K0', 'K0', 'K0'],
                           'C': ['C0', 'C1', 'C2', 'C3'],
                           'D': ['D0', 'D1', 'D2', 'D3']}) 

pd.merge(left, right, on=['key1', 'key2'])

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [41]:


pd.DataFrame({'Merge method': ['left', 'right', 'outer', 'inner'],
              'SQL Join Name': ['LEFT OUTER JOIN', 'RIGHT OUTER JOIN', 'FULL OUTER JOIN','INNER JOIN'],
              'Description': ['Use keys from left frame only','Use keys from right frame only', 'Use union of keys from both frames', 'Use intersection of keys from both frames'],
            })

                                 Description Merge method     SQL Join Name
0              Use keys from left frame only         left   LEFT OUTER JOIN
1             Use keys from right frame only        right  RIGHT OUTER JOIN
2         Use union of keys from both frames        outer   FULL OUTER JOIN
3  Use intersection of keys from both frames        inner        INNER JOIN

In [42]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_merge_on_key_left.png")

In [43]:
print(left) 
print(right)
pd.merge(left, right, how='left', on=['key1', 'key2'])

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1
    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN

In [44]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_merge_on_key_right.png")

In [45]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

     A    B key1 key2   C   D
0   A0   B0   K0   K0  C0  D0
1   A2   B2   K1   K0  C1  D1
2   A2   B2   K1   K0  C2  D2
3  NaN  NaN   K2   K0  C3  D3

In [46]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_merge_on_key_outer.png")

In [47]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3

In [48]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_merge_on_key_inner.png")

In [49]:
 pd.merge(left, right, how='inner', on=['key1', 'key2'])

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

# The merge indicator
merge now accepts the argument indicator. If True, a Categorical-type column called _merge will be added to the output object that takes on values:

In [50]:

pd.DataFrame({"Observation Origin":["Merge key only in 'left' frame", "Merge key only in 'right' frame",'Merge key in both frames'],
              "merge value":["left_only", "right_only", "both"],
            })

                Observation Origin merge value
0   Merge key only in 'left' frame   left_only
1  Merge key only in 'right' frame  right_only
2         Merge key in both frames        both

In [51]:
df1 = pd.DataFrame({'col1': [0, 1], 'col_left':['a', 'b']})
df2 = pd.DataFrame({'col1': [1, 2, 2],'col_right':[2, 2, 2]})
pd.merge(df1, df2, on='col1', how='outer', indicator=True)

   col1 col_left  col_right      _merge
0   0.0        a        NaN   left_only
1   1.0        b        2.0        both
2   2.0      NaN        2.0  right_only
3   2.0      NaN        2.0  right_only

In [52]:
pd.merge(df1, df2, on='col1', how='outer', indicator='indicator_column')

   col1 col_left  col_right indicator_column
0   0.0        a        NaN        left_only
1   1.0        b        2.0             both
2   2.0      NaN        2.0       right_only
3   2.0      NaN        2.0       right_only

# Joining on index
DataFrame.join is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame. Here is a very basic example:

In [53]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_join.png")

In [54]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])


right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                     'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
print(left)
print(right)
left.join(right)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [55]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_join_outer.png")

In [56]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [57]:
pd.merge(left, right, left_index=True, right_index=True, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [58]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_join_inner.png")

In [59]:
left.join(right, how='inner')

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

In [62]:
pd.merge(left, right, left_index=True, right_index=True, how='inner')

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

# Joining key columns on an index
join takes an optional on argument which may be a column or multiple column names, which specifies that the passed DataFrame is to be aligned on that column in the DataFrame. These two function calls are completely equivalent:

left.join(right, on=key_or_keys)
pd.merge(left, right, left_on=key_or_keys, right_index=True,
      how='left', sort=False)

Obviously you can choose whichever form you find more convenient. For many-to-one joins (where one of the DataFrame’s is already indexed by the join key), using join may be more convenient. Here is a simple example:

In [63]:
Image(url="http://pandas.pydata.org/pandas-docs/stable/_images/merging_join_key_columns.png")

In [64]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                              'B': ['B0', 'B1', 'B2', 'B3'],
                              'key': ['K0', 'K1', 'K0', 'K1']})
 

right = pd.DataFrame({'C': ['C0', 'C1'],
                       'D': ['D0', 'D1']},
                       index=['K0', 'K1'])
 
left.join(right, on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

In [65]:
pd.merge(left, right, left_on='key', right_index=True, how='left', sort=False)

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

# question ?

In [66]:
import pandas as pd
right = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                              'B': ['B0', 'B1', 'B2', 'B3'],
                              'key': ['K0', 'K1', 'K0', 'K1']})
 

left = pd.DataFrame({'C': ['C0', 'C1'],
                       'D': ['D0', 'D1']},
                       index=['K0', 'K1'])

print(left)
print(right)

#pd.merge(left, right, left_index=True, right_on='key', how='left', sort=False)

     C   D
K0  C0  D0
K1  C1  D1
    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1

# how ?

In [67]:
x=[['C0', 'D0', 'A0', 'B0', 'A2', 'B2'], 
    ['C1','D1', 'A1', 'B1', 'A3', 'B3']]
pd.DataFrame(x,index=['k0', "k1"])

     0   1   2   3   4   5
k0  C0  D0  A0  B0  A2  B2
k1  C1  D1  A1  B1  A3  B3

# solution

In [68]:
import pandas as pd
import numpy as np

left = pd.DataFrame({'C': ['C0', 'C1'],
                     'D': ['D0', 'D1']},
                     index=['K0', 'K1'])

right = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3'],
                      'key': ['K0', 'K1', 'K0', 'K1']})
right

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1

In [69]:
g = right.groupby('key').cumcount()
right1 = right.groupby([right.key, g]).first().unstack().sort_index(axis=1, level=1)
right1.columns = right1.columns.droplevel(0)
pd.DataFrame(right1)

      0   0   1   1
key
K0   A0  B0  A2  B2
K1   A1  B1  A3  B3

In [70]:
pd.DataFrame(left)

     C   D
K0  C0  D0
K1  C1  D1

In [71]:

df = pd.concat([left, right1], axis=1, join='inner')
#assign default column names (0,1,2...)
# df.columns = np.arange(len(df.columns))
# df.index.name = None
pd.DataFrame(df)

      C   D   0   0   1   1
key
K0   C0  D0  A0  B0  A2  B2
K1   C1  D1  A1  B1  A3  B3

In [72]:
df1 = pd.merge(left, right1, left_index=True, right_index=True)
#assign default column names (0,1,2...)
#df1.columns = np.arange(len(df1.columns))
pd.DataFrame (df1)

     C   D   0   0   1   1
K0  C0  D0  A0  B0  A2  B2
K1  C1  D1  A1  B1  A3  B3

In [73]:
right_flat = right.set_index('key').groupby(level='key').apply(lambda x: x.values.flatten().tolist())
left_flat = pd.Series(left.T.to_dict('list'))
all_flat = left_flat + right_flat
df_final = pd.concat([pd.Series(v, name=idx) for idx, v in all_flat.iteritems()], axis=1).T
df_final

     0   1   2   3   4   5
K0  C0  D0  A0  B0  A2  B2
K1  C1  D1  A1  B1  A3  B3

# speed

In [74]:
right = right.sample(100000, replace=True)

In [75]:
%%timeit
right_flat = right.set_index('key').groupby(level='key').apply(lambda x: x.values.flatten().tolist())
left_flat = pd.Series(left.T.to_dict('list'))
all_flat = left_flat + right_flat
df_final = pd.concat([pd.Series(v, name=idx) for idx, v in all_flat.iteritems()], axis=1).T

10 loops, best of 3: 53.3 ms per loop

In [76]:
%%timeit
g = right.groupby('key').cumcount()
right1 = right.groupby([right.key, g]).first().unstack().sort_index(axis=1, level=1)
right1.columns = right1.columns.droplevel(0)
df = pd.concat([left, right1], axis=1, join='inner')
df.columns = np.arange(len(df.columns))
df.index.name = None

10 loops, best of 3: 166 ms per loop